# /etc/systemd/system/zcompd.service
[Unit]
Description=Zfts transfer system
After=network.target
Wants=network-online.target

[Service]
Type=simple
UMask=0022
User=admin
Group=admin
#ExecStart=/opt/prgsnap/bin/zfts -c /usr/share/nginx/html/zfts/zfts-admin/config/zfts.configs/zfts_zcomp_gnd_107.ini
ExecStart=/bin/bash -c 'stdbuf -oL -eL /opt/prgsnap/bin/zfts -c /etc/zfts.configs/zfts_zcomp_gnd_107.ini 2>&1 | tee -a /home/admin/logs/zfts-107.log'
ExecStop=/bin/kill -TERM $MAINPID
PIDFile=/run/zcompd.pid
WorkingDirectory=/opt/prgsnap
Restart=on-failure
RestartSec=5
# Optional security hardening
NoNewPrivileges=true
PrivateTmp=true

# Pre-create log file
ExecStartPre=/usr/bin/mkdir -p /home/admin/logs
ExecStartPre=/usr/bin/touch /home/admin/logs/zfts-107.log
ExecStartPre=/usr/bin/chmod 0644 /home/admin/logs/zfts-107.log

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=zfts-107

[Install]
WantedBy=default.target
